<div class="container"> 
  <div class="jumbotron" ng-controller="UserController">
    <form class="form-group" ng-submit="sign_up()">
      <h2>Sign Up</h2>
      <input class="form-control" type="text" ng-model="username" placeholder="Username"><br>
      <input class="form-control" data-toggle="password" type="password" ng-model="password" placeholder="Password"><br>
      <button type="submit" style="width:25%" class="btn btn-primary">Sign Up</button>
    </form>
  </div>
</div>