<div class="container">
  <div class="jumbotron" style="max-height:400px">
    <div class="row">
      <div class="col-md-4">
        <img src="{{show.photo}}">
      </div>
      <div class="col-md-4">
        <h2 ng-bind="show.name"></h2>
        <h3 ng-bind="show.show_type"></h3>
        <br>
        <button class="btn btn-primary" ng-click="new_random()">Roll New Random Show</button>
      </div>
      <div class="col-md-4">
        <p style="height:310px;text-overflow:ellipsis;overflow:scroll" ng-bind="show.description"></p>
      </div>
    </div>
  </div>
</div>