<div class="container">
  <div class="jumbotron" style="max-height:400px">
    <div class="row">
      <div class="col-md-4">
        <img src="{{show.photo}}">
      </div>
      <div class="col-md-4">
        <h2 ng-bind="show.name"></h2>
        <h3 ng-bind="show.show_type"></h3>
        <br>
        <button class="btn btn-primary" ng-click="new_random()">Roll New Random Show</button>
        <button class="btn btn-default" ng-click="remove_random()">Remove Random</button>
      </div>
      <div class="col-md-4">
        <p style="height:310px;text-overflow:ellipsis;overflow:scroll" ng-bind="show.description"></p>
      </div>
    </div>
  </div>
  <div class="jumbotron">
    <div class="row">
      <h1>Configuration</h1>
      <div ng-if="config.active">
        <button ng-click="toggle_voting(false)" class="btn btn-primary">DeActivate Voting</button>
        <span>No more votes can be created</span><br><br>
      </div>
      <div ng-hide="config.active">
        <button ng-click="toggle_voting(true)" class="btn btn-primary">Activate Voting</button>
        <span>Votes can be created again</span><br><br>
        <button ng-click="activate_voting_hardcore()" class="btn btn-warning">Activate and Reset Voting</button>
        <span>Votes can be created again and all downvotes and regular votes will be destroyed</span><br><br>
      </div>
      <button ng-click="reset_all_votes()" class="btn btn-danger">Reset All Votes</button>
      <span>All Votes are destroyed including Super Votes</span>
    </div>
  </div>
</div>