<div class="container">
  <div class="row">
    <form ng-submit="mylist_seach()">
      <div class="col-md-6 col-md-offset-2">
        <input id="anime-search" ng-model="query" class="form-control" type="text" placeholder="Search AnimeList">
      </div>
      <div class="col-md-2">
        <button ng-click="mylist_search()" id="anime-button" style="width:100%" class="btn btn-primary">Search</button>
      </div>
    </form>
  </div>  
  <div class="row" style="margin-top:20px;text-align:center">
    <div id="loading" ng-show="loading" class="col-sm-2 col-sm-offset-5">
      <img src="<%= asset_path('loading.gif') %>">
    </div>
    <div id="error" style="text-align:center" ng-show="error" class="alert alert-info col-sm-2 col-sm-offset-5">
      <span ng-bind="error"></span>
    </div>
  </div>
  <br>
  <div ng-repeat="show in shows">
    <div ng-if="show.animelist_id" class="jumbotron" style="max-height:400px">
      <div class="row">
        <div id="picture" class="col-sm-4">
          <img style="height=100%" src="{{show.photo}}">
        </div>

        <div class="col-sm-4">
          <h2>{{show.name}}</h2>
          <h3 ng-if="!show.show_type"> Votes: {{show.vote_count}}</h3>
          <h3 ng-bind="show.show_type"></h3>
          <div ng-if="!show.show_type">
            <div ng-if="!show.voted">
              <button ng-click="vote(show)" style="width:30%" class="btn btn-primary">Vote</button>
              <button ng-click="vote(show, 'super')" style="width:30%" class="btn btn-primary">Super Vote</button>
              <button ng-click="vote(show, 'down')" style="width:30%" class="btn btn-primary">Down</button>
            </div>
            <div ng-if="show.voted">
              <button ng-click="unvote(show)" style="width:93%"class="btn btn-success">Voted</button>
            </div>
            <div style="margin-top:10px">
              <button style="width:93%" ng-if="user.admin" ng-click="make_ongoing(show)" class="btn btn-default">Make Ongoing</button>
            </div>
          </div>
          <div style="width:93%;text-align:center;margin-top:20px" class="alert alert-danger" ng-if="show.error">
            <p ng-bind="show.error"></p>
          </div>
        </div>
        <div class="col-sm-4">
          <p style="height:310px;text-overflow:ellipsis;overflow:scroll" ng-bind="show.description"></p>
        </div>
      </div>
    </div>
    <div ng-if="!show.animelist_id" class="jumbotron" style="max-height:400px">
      <div class="row">
        <div id="picture" class="col-sm-4">
          <img style="height:100%" src="{{show.image}}">
        </div>
        <div class="col-sm-4" >
          <h2>{{show.title}}</h2>
          <div style="text-align:center">
            <button ng-if="!show.added" ng-click="add_show(show)" class="btn btn-primary">Add Show</button>
            <button ng-if="show.added" class="btn btn-success">Show Added</button>
          </div>
        </div>
        <div class="col-sm-4">
          <p style="height:310px;text-overflow:ellipsis;overflow:scroll" ng-bind="show.synopsis"></p>
        </div>
      </div>
    </div>
  </div>
</div>
